#experience, #projects{
  padding-top: 9rem;
}

#home,#about,#skills,#experience, #projects,#footer{
  margin: 0;
  /* border: red solid 2px; */
}

.header1 {
  font-size: 4.8rem;
  font-weight: 800;
  font-style: italic;
}

.header2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.paragraph {
  font-size: 2.4rem;
}

.marginTop-0{
  margin-top: 0rem;
}

.link {
  text-decoration: underline;
}

.highlight {
  color: var(--highlight);
}

.justify {
  text-align: justify;
}

.flex-space-between{
  display: flex !important;
  justify-content: space-between ;
  align-items: flex-start ;
}

.hr-lines {
  position: relative;
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 5px;
  width: 23.7rem;
  position: absolute;
  top: 50%;
  left: 27rem;
  background: var(--paragraph);
}

.hr-lines2 {
  position: relative;
}

.hr-lines2:before {
  content: " ";
  display: block;
  height: 5px;
  width: 23.7rem;
  position: absolute;
  top: 50%;
  left: 35rem;
  background: var(--paragraph);
}

.hr-lines3 {
  position: relative;
}

.hr-lines3:before {
  content: " ";
  display: block;
  height: 5px;
  width: 23.7rem;
  position: absolute;
  top: 50%;
  left: 20rem;
  background: var(--paragraph);
}

.page {
  width: 100%;

  /* border: red solid 2px; */
}

.objectCenter {
  width: 100%;
  max-width: 1200px;
  margin: auto !important;
  /* border: rgb(39, 189, 126) solid 2px; */

  display: flexbox;
  justify-content: center;
  align-items: center;
  /* padding: 0px 4%; */
}

.section {
  /* width: 100%; */
  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: red solid 2px; */
}

.alignCenter {
  display: flex ;
  justify-content: center !important;
  align-items: center !important;
}

.alignLeft {
  display: flex ;
  justify-content: flex-start !important;
  align-items: center !important;
}

.borderRed{
  border: red solid 2px !important;
}

.disable-text-selection {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.active{
  /* color:red !important; */
  /* background-color: black !important; */

  text-decoration: underline !important;
}

/* navbar */
.navbar_link {
  text-decoration: none;

  color-scheme: light dark;
  color: var(--paragraph);
}

.navbar_link:hover {
  color: var(--highlight) !important;
}

.navbar {
  background-color: var(--primary) !important;
  box-shadow: none !important;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-left: 3rem;
  padding-right: 3rem;
}


.limitMax1400{
  width: 100%;
  max-width: 1400px !important;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem !important;

  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: var(--paragraph);
}

.nav_btn {
  color: var(--paragraph) !important;
  font-size: 2.4rem !important;
  font-weight: 300 !important;

  text-decoration: none;
  /* border: red solid 2px; */
  height: 100%;
  
  font-family: "Kanit", sans-serif !important;
  margin-right: 2rem !important;
  padding-right: 2rem !important;

  
}

.borderRight{
  border-right: var(--paragraph) solid 1px !important;
}

/* mobile navbar */
.logo2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem !important;

  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: #272D2D;
}

.nav_btn2{
  color: #272D2D !important;
  font-size: 2.4rem !important;
  font-weight: 300 !important;
  text-decoration: none;
  text-align: center;
  /* border:red solid 2px; */
  width: 100%;
  height: 100%;

  font-family: "Kanit", sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  
}

.contactMe_btn {
  background-color: var(--paragraph) !important;
  color: var(--primary) !important;
  font-size: 2.4rem !important;
  border-radius: 100px !important;
  padding: 0.75rem 4rem !important;

  text-decoration: none;

  font-family: "Kanit", sans-serif !important;
}

.drawerButton{
  border: var(--paragraph) solid 2px !important;
  color: var(--primary) !important;
  margin-left: 2rem !important ;
  background-color: var(--paragraph) !important;
  border-radius: 2px !important;
}


/* Intro Page */
.introImage {
  height: 100%;
  width: 100%;
  max-height: 64.578rem !important;
  max-width: 54.7rem !important;
}

.marginTop20 {
  margin-top: 5rem;
}

.marginTop40 {
  margin-top: 7.5rem;
}

.info_btn_alignLeft{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.info_btn_spacing{
  padding: 0.2rem 2rem;
  margin-right: 2rem;
}

.info_btn1{
  border: var(--highlight) solid 2px;
  color: var(--primary) !important;
  background-color: var(--highlight) ;

  text-decoration: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info_btn2{
  border: var(--paragraph) solid 2px !important;
  color: var(--paragraph) ;
  
  text-decoration: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info_icon{
  height: 4rem !important;
  width: 4rem !important;
  margin-left: 1rem;
}

.info_btn1:hover{
  background-color: var(--hover);
  border: var(--hover) solid 2px;
}

.info_btn2:hover{
  color: var(--paragraph);
}

/* About Section */
.about_section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
}

.about_headline{
  margin: 0px !important;
  margin-bottom: 1rem !important;
}

.about_con1{
  height: 100%;
  max-height: 50rem;
  width: 32.5%;

  margin-top: 5rem;
}

.about_con2{
  height: 100%;
  max-height: 100%;
  width: 60%;
  padding-left: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_con2 p{
  margin: 0;
}

.about_margin_bottom{
  margin-bottom: 2rem !important;
}

.align_about_storyline{
  width: 100%;
  max-height: 50rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
}

.about_storyline_image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* aspect-ratio: 128/171; */
  /* max-height: 64.578rem ;
  max-width: 54.7rem ; */

  /* border-radius: 0px 0px 0px 0px; */
  border-radius: 2rem;

  
  
}

/* Contact Section */
.social-media{
  width: fit-content;
}

.social-media a{
  color: var(--paragraph);
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
}

.social-media a span{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  width: fit-content !important;
}

.social-media a span .contact-icon{
  margin-right: 1.5rem;
  
}

.contact-form-cont{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
  /* background-color: #f6f8ff; */
  border-radius: 15px;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
  font-size: 16px;
  color: red;
}

.contact-form{
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:  flex-start;
  border:red solid 2px;
  width: 100%; */
  
}

.contact-form-fields{
  margin-bottom: 2rem !important;
  font-size: 30rem;
}

.contact-btn{
  width: 100% !important;
}

.CM-result{
  font-size: 1.6rem;
}
/* Footer Section */
.footer {
  background-color: #1c2121;
  padding: 0px 200px;
  color: #f6f8ff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.subFooter{
  width: 100%;
  max-width: 1400px;
}

.footer_logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem !important;

  margin-top: 3rem !important;
  margin-bottom: 1.5rem !important;
  color: #f6f8ff;
}

.contactMeLink,.contactMeLink:hover{
  display: block;
  font-size: 2.4rem;
  color: #f6f8ff;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer hr{
  margin-top: 3rem;
} 


@media only screen and (max-width: 1600px) {
  .section {
    padding: 0px 100px;
  }

  .footer {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 1200px) {
  .section {
    padding: 0px 100px;
  }

  .marginTop20 {
    margin-top: 0;
  }
  
  .marginTop40 {
    margin-top: 4rem;
  }

  .info_btn_alignLeft{
    /* display: flex; */
    display: flex ;
    flex-direction: column !important;
    justify-items: center !important;
    align-items: center !important;

  }

  .info_btn_alignLeft div{
    width: 100%;
  }

  .info_btn_spacing{
    padding: 2rem;
    margin-right: 0;
  }

  .info_btn1{
    width: 100%;
    justify-content: center;
  }
  
  .info_btn2{
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
  }
  
  .about_con1{
    margin-top: 5rem;
  }

  .about_con2{
    width:65%;
  }
  .about_section{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items:center;
  }

  .align_about_storyline{
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about_storyline_image{
    height: auto;
    width: 100%;
    max-height: none !important;
    max-width: none !important;
  
    /* border-radius: 0px 0px 0px 0px; */
    border-radius: 2rem;
    
  }

  .footer {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 635px) {
  .hr-lines:before {
    width: 20rem;
    top: -10%;
    left: 0rem;
  }

  .hr-lines2:before {
    width: 20rem;
    top: -10%;
    left: 0rem;
  }

  .marginTop40 {
    margin-top: 0;
  }

  .about_section{
    display: grid;
    
  }
  
  .about_con1{
    /* display: none; */
    /* width: 100%; */
    height: auto;
    width: 100%;
    
    /* border: red solid 2px; */
  }

  .about_con2{
    width:100%;
    padding-left: 0px;
    
    /* background-color: var(--primary); */
    margin-top: 10rem;
    /* border: red solid 2px; */
  }

  .about_con2 > p{
    padding: 0rem 2rem;
  }

  .about_con2 > p:first-child{
    padding-top: 2rem;
  }

  .align_about_storyline{
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about_storyline_image{
    height: auto;
    width: 25vh;
    max-height: none !important;
    max-width: none !important;
  
    aspect-ratio: 1/1 ;
    object-fit: cover;
    object-position: 50%;

    /* border-radius: 0px 0px 0px 0px; */
    /* border-radius: 2rem; */
    border-radius: 50%;
    
  }

  .section {
    padding: 0px 20px;
  }

  .footer {
    padding: 0px 20px;
  }
}
