#experience, #projects{
  padding-top: 9rem;
}

#home,#about,#experience, #projects,#footer{
  margin: 0;
}

.header1 {
  font-size: 4.8rem;
  font-weight: 800;
  font-style: italic;
}

.header2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.paragraph {
  font-size: 2.4rem;
}

.link {
  text-decoration: underline;
}

.highlight {
  color: var(--highlight);
}

.justify {
  text-align: justify;
}

.hr-lines {
  position: relative;
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 5px;
  width: 23.7rem;
  position: absolute;
  top: 50%;
  left: 27rem;
  background: var(--paragraph);
}

.hr-lines2 {
  position: relative;
}

.hr-lines2:before {
  content: " ";
  display: block;
  height: 5px;
  width: 23.7rem;
  position: absolute;
  top: 50%;
  left: 35rem;
  background: var(--paragraph);
}

.page {
  width: 100%;

  /* border: red solid 2px; */
}

.objectCenter {
  width: 100%;
  max-width: 1200px;
  margin: auto !important;
  /* border: rgb(39, 189, 126) solid 2px; */

  display: flexbox;
  justify-content: center;
  align-items: center;
  /* padding: 0px 4%; */
}

.section {
  /* width: 100%; */
  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: red solid 2px; */
}

.alignCenter {
  display: flex ;
  justify-content: center !important;
  align-items: center !important;
}

.disable-text-selection {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.active{
  /* color:red !important; */
  /* background-color: black !important; */

  text-decoration: underline !important;
}

/* navbar */
.navbar_link {
  text-decoration: none;

  color-scheme: light dark;
  color: var(--paragraph);
}

.navbar_link:hover {
  color: var(--highlight) !important;
}

.navbar {
  background-color: var(--primary) !important;
  box-shadow: none !important;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-left: 3rem;
  padding-right: 3rem;
}


.limitMax1400{
  width: 100%;
  max-width: 1400px !important;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem !important;

  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: var(--paragraph);
}

.nav_btn {
  color: var(--paragraph) !important;
  font-size: 2.4rem !important;
  font-weight: 300 !important;

  text-decoration: none;
  /* border: red solid 2px; */
  height: 100%;
  
  font-family: "Kanit", sans-serif !important;
  margin-right: 4rem !important;
}

/* mobile navbar */
.logo2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem !important;

  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  color: #272D2D;
}

.nav_btn2{
  color: #272D2D !important;
  font-size: 2.4rem !important;
  font-weight: 300 !important;
  text-decoration: none;
  text-align: center;
  /* border:red solid 2px; */
  width: 100%;
  height: 100%;

  font-family: "Kanit", sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
}

.contactMe_btn {
  background-color: var(--paragraph) !important;
  color: var(--primary) !important;
  font-size: 2.4rem !important;
  border-radius: 100px !important;
  padding: 0.75rem 4rem !important;

  text-decoration: none;

  font-family: "Kanit", sans-serif !important;
}

.drawerButton{
  border: var(--paragraph) solid 2px !important;
  color: var(--primary) !important;
  margin-left: 2rem !important ;
  background-color: var(--paragraph) !important;
  border-radius: 2px !important;
}


/* Intro Page */
.introImage {
  height: 100%;
  width: 100%;
  max-height: 64.578rem !important;
  max-width: 54.7rem !important;
}

.marginTop20 {
  margin-top: 5rem;
}

/* Footer Section */
.footer {
  background-color: #1c2121;
  padding: 0px 200px;
  color: #f6f8ff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.subFooter{
  width: 100%;
  max-width: 1400px;
}

.footer_logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem !important;

  margin-top: 3rem !important;
  margin-bottom: 1.5rem !important;
  color: #f6f8ff;
}

.contactMeLink,.contactMeLink:hover{
  display: block;
  font-size: 2.4rem;
  color: #f6f8ff;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer hr{
  margin-top: 3rem;
} 


@media only screen and (max-width: 1600px) {
  .section {
    padding: 0px 100px;
  }

  .footer {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 1200px) {
  .section {
    padding: 0px 100px;
  }

  .marginTop20 {
    margin-top: 0;
  }

  .footer {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 635px) {
  .hr-lines:before {
    width: 20rem;
    top: -10%;
    left: 0rem;
  }

  .hr-lines2:before {
    width: 20rem;
    top: -10%;
    left: 0rem;
  }

  .section {
    padding: 0px 20px;
  }

  .footer {
    padding: 0px 20px;
  }
}
