:root,
:root.dark {
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  --highlight: #23ce6b;
  --primary: #f6f8ff;
  --paragraph: #272d2d;
  

  color-scheme: light dark;
  color: var(--paragraph);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.hyperlink {
  color: var(--highlight);
  text-decoration: underline;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* border: red solid 2px; */
  /* overflow-x: hidden; */

  /* padding: 0px 4%; */
}

#root {
  width: 100%;
  box-sizing: border-box !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #272d2d;
  --paragraph: #f6f8ff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root.light {
  --primary: #272d2d;
  --paragraph: #f6f8ff;
}

@media only screen and (max-width: 1600px) {
  :root,
  :root.light,
  :root.dark {
    font-size: 45%;
  }
}

@media only screen and (max-width: 1200px) {
  :root,
  :root.light,
  :root.dark {
    font-size: 40%;
  }
}

@media only screen and (max-width: 635px) {
  :root,
  :root.light,
  :root.dark {
    font-size: 35%;
  }
}
